mat-card{
  width: 300px;
}
form {
  display: flex;
  flex-direction: column;
}

button {
  padding-right: 25px;
  margin: 20px;
}
.mat-card-rv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
 margin: 20px;
}
input{
  padding: 10px;
}
